<section>
<header class="major">
  <h2>The fruit Market</h2>
</header>
<h2>list of fruits:</h2>
  <ul>
    <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
        <li><%= fruit %> : on stock</li>
    <% end %>
  </ul>


<ul class="actions">
  <li><a href="#" class="button">Learn More</a></li>
</ul>
</section>
